/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.sortable-container {
    display: flex;
    flex-direction: column;
}

.sortable-item {
    margin: 0px;
    padding: 2px;
    border: 1px solid #00000000;
    background-color: #00000000;
    cursor: grab;
}

.sortable-item.drag-over {
    border-top: 2px solid #3498db;
}

.sortable-item.dragging {
    opacity: 0.5;
}
  
.disable-pointer-events {
    pointer-events: none;
  }