/* Styles for sortable container and items */
.sortable-container {
    display: flex;
    flex-direction: column;
}

.sortable-item {
    margin: 0px;
    padding: 2px;
    border: 1px solid transparent; /* Bordure transparente */
    background-color: transparent; /* Fond transparent */
    cursor: grab;
}

.sortable-item.drag-over {
    border-top: 2px solid #6D71F9; /* Bordure violette pour le survol */
}

.sortable-item.dragging {
    opacity: 0.5; /* Opacité réduite lors du déplacement */
}

/* CSS personnalisé pour les prévisualisations de tableaux */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #272A33; /* Fond bleu foncé d'Obsidian */
    color: #FFFFFF; /* Texte blanc */
}

.custom-table th, .custom-table td {
    border: 1px solid #3F4150; /* Bordure violette plus foncée */
    padding: 8px;
}

/* Styles pour tous les tableaux générés dans la fenêtre modale */
.custom-table-modal {
    width: 100%;
    border-collapse: collapse;
    background-color: #272A33; /* Fond bleu foncé d'Obsidian */
    color: #FFFFFF; /* Texte blanc */
}

.custom-table-modal th, .custom-table-modal td {
    border: 1px solid #3F4150; /* Bordure violette plus foncée */
    padding: 8px;
}

/* Nouveaux styles pour la grille de templates */
.template-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes */
    gap: 20px; /* Espace entre les éléments de la grille */
}

/* Assurez-vous d'inclure cette partie CSS */
.template-grid-container {
    display: grid;
    gap: 20px; /* Espace entre les éléments de la grille */
}

@media (min-width: 1500px) {
    .template-grid-container {
        grid-template-columns: repeat(4, 1fr); /* Quatre colonnes */
    }
}

@media (max-width: 1500px) {
    .template-grid-container {
        grid-template-columns: repeat(3, 1fr); /* Trois colonnes */
    }
}

@media (max-width: 1000px) {
    .template-grid-container {
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    }
}

@media (max-width: 600px) {
    .template-grid-container {
        grid-template-columns: 1fr; /* Une colonne */
    }
}

.template-card {
    border: 1px solid #3F4150; /* Bordure violette plus foncée */
    padding: 15px;
    background: #272A33; /* Fond bleu foncé d'Obsidian */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.template-card h3 {
    margin-top: 0;
    color: #FFFFFF; /* Texte blanc */
}

.template-preview {
    margin-bottom: 15px;
}

.template-card button {
    padding: 10px 15px;
    background: #6D71F9; /* Fond violet */
    color: #FFFFFF; /* Texte blanc */
    border: none;
    cursor: pointer;
}

.template-card button:hover {
    background: #575BBE; /* Fond violet plus sombre au survol */
}
/* Styles pour centrer les titres et le texte */
.center-text {
    text-align: center;
}

.template-card h3 {
    text-align: center;
}

/* CSS pour rendre le titre "Delete" et l'icône "trash" en rouge spécifique */
.context-menu-delete-red .menu-item-icon,
.context-menu-delete-red .menu-item-title {
    color: #FB464C !important;
}


.validate-button {
    display: flex; /* Utiliser flexbox */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    margin: 0 auto 20px auto;
    padding: 15px 30px; /* Augmenter le padding pour rendre le bouton plus grand */
    font-size: 18px; /* Augmenter la taille de la police */
    cursor: pointer;
    text-align: center; /* Centrer le texte */
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Enlever les bordures */
    border-radius: 5px; /* Ajouter des coins arrondis */
    transition: background-color 0.3s; /* Transition pour le changement de couleur */
}

.validate-button:hover {
    background-color: #45a049; /* Changer la couleur de fond au survol */
}

.file-grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.file-card {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: calc(25% - 10px); /* Ajustez la largeur selon vos besoins */
    text-align: center;
    background-color: #272A33; /* Couleur par défaut */
    word-wrap: break-word; /* Permet au texte de passer à la ligne */
    overflow-wrap: break-word; /* Permet au texte de passer à la ligne */
    white-space: normal; /* Permet le retour à la ligne */
}

.file-card h3 {
    margin: 0;
    padding: 10px 0;
}