/* Styles for sortable container and items */
.sortable-container {
    display: flex;
    flex-direction: column;
}

.sortable-item {
    margin: 0px;
    padding: 2px;
    border: 1px solid transparent; /* Bordure transparente */
    background-color: transparent; /* Fond transparent */
    cursor: grab;
}

.sortable-item.drag-over {
    border-top: 2px solid #6D71F9; /* Bordure violette pour le survol */
}

.sortable-item.dragging {
    opacity: 0.5; /* Opacité réduite lors du déplacement */
}

/* CSS personnalisé pour les prévisualisations de tableaux */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #272A33; /* Fond bleu foncé d'Obsidian */
    color: #FFFFFF; /* Texte blanc */
}

.custom-table th, .custom-table td {
    border: 1px solid #3F4150; /* Bordure violette plus foncée */
    padding: 8px;
}

/* Styles pour tous les tableaux générés dans la fenêtre modale */
.custom-table-modal {
    width: 100%;
    border-collapse: collapse;
    background-color: #272A33; /* Fond bleu foncé d'Obsidian */
    color: #FFFFFF; /* Texte blanc */
}

.custom-table-modal th, .custom-table-modal td {
    border: 1px solid #3F4150; /* Bordure violette plus foncée */
    padding: 8px;
}

/* Nouveaux styles pour la grille de templates */
.template-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes */
    gap: 20px; /* Espace entre les éléments de la grille */
}

.template-card {
    border: 1px solid #3F4150; /* Bordure violette plus foncée */
    padding: 15px;
    background: #272A33; /* Fond bleu foncé d'Obsidian */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.template-card h3 {
    margin-top: 0;
    color: #FFFFFF; /* Texte blanc */
}

.template-preview {
    margin-bottom: 15px;
}

.template-card button {
    padding: 10px 15px;
    background: #6D71F9; /* Fond violet */
    color: #FFFFFF; /* Texte blanc */
    border: none;
    cursor: pointer;
}

.template-card button:hover {
    background: #575BBE; /* Fond violet plus sombre au survol */
}
